.competencesPage {
    height: 100vh;
    background-image: url('picture/backgroud_about.png');
    background-size: cover;
    background-position: center;
    display: flex;
}
.competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}
h1 {
    margin-top: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: #EDEFEE;
    border-radius: 30px;
}
.competencesCards {
    background-color: white;
    display: flex;
    align-items: flex-start;
    margin: 2rem;
}
.competencesImg{
    width: 8rem;
    height: 7rem;
}
h3 {
    margin-left: 1rem;
    margin-right: 5rem;
    width: 10%;
    justify-content: center;
}
.competencesImg2 {
    height: 7rem;
    width: 40%;
    margin-left: 3rem;
}
p {
    width: 6.4rem;
    height: 6rem;
    font-size: large;
    font-size: 2rem;
    margin: 1rem 3rem 0 3rem;
}
.grey {
    background-color: #EDEFEE;
}

.parcours {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 40%;
    margin: 3rem;
}
.parcoursCards {
    display: flex;
    margin-top: 5rem;
    width: 80%;

}
.losange {
    width: 4rem;
    justify-content: center;
}
.parcoursText p {
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 20%;
    margin: 0;
}
#pText {
    width: 100%;
    display: flex;
    flex-direction: column;
}
