.home {
    width: 100vw;
    height: 100vh;
    background-color: #1E475F;
    display: flex;
}
.homeStatus {
    display: flex;
}
.avatar {
    width: 15%;
    height:fit-content;
    border-radius: 50%;
    background-color: #210080;
}
.infos {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    margin: 0;
    height: 1rem;
}
.points {
    display: flex;
    margin-left: 2.8rem;
}
#sigle {
    color: #107C10;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}
#num {
    margin: 0;
}
.homeHeader {
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
#hours {
    margin-top: 0;
    margin-right: 1rem;
}
.batterie {
    height: fit-content;
    width: 4rem;
    margin-right: 1.7rem;

}
.credits {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}